body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff2f9; /* Rose pâle */
}

header {
    background-color: #ff66b2; /* Rose vif */
    padding: 10px;
    text-align: center;
}

h1 {
    color: #fff;
}

nav {
    background-color: #ffb2e6; /* Rose clair */
    padding: 15px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #fff; /* Blanc */
}


nav a:hover {
    background-color: #ff99cc; /* Rose moyen au survol */
}

section {
    padding: 20px;
}

footer {
    background-color: #ff66b2;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.character-card {
    background-color: #fff; /* Blanc */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    
}

.character-image {
    max-width: 100%;
    border-radius: 5px;
}

.flexcontainer{ /* pour logos de header */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.marginlogo{
    padding-top: 40px;
}

.title{
    display: flex;
    flex-direction: row;
    
}
.covercollection{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.margin1{
    margin-right:0;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.margin2{
    margin: 20px;
}

.email{
    margin-left: 20px;
}

.imgflex{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
}

.flex{
    display: flex;
    
    justify-content: flex-start;
}

.padding1{
    padding-right: 300px;
}

.marg{
    margin-bottom: 10px;
    margin-top: 50px;
}

.marg1{
    margin-right: 480px;
    margin-left: 100px;
}