body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff2f9; /* Rose pâle */
}

header {
    background-color: #ff66b2; /* Rose vif */
    padding: 10px;
    text-align: center;
}

h1 {
    color: #fff;
}

nav {
    background-color: #ffb2e6; /* Rose clair */
    padding: 15px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #fff; /* Blanc */
}


nav a:hover {
    background-color: #ff99cc; /* Rose moyen au survol */
    color: #fff;
}

section {
    padding: 20px;
}

footer {
    background-color: #ff66b2;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.character-card {
    background-color: #fff; /* Blanc */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.character-image {
    max-width: 100%;
    border-radius: 5px;
}

.flexcontainer{ /* pour logos de header */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.marginlogo{
    padding-top: 40px;
}

.content{
    display: flex;
    justify-content: space-evenly;
}


h1{
    color: #333;
    font-weight: bolder;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.videomarg{
    margin: 20px;
}